html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
} */





#banner {
  top: 0;
  left: 0;
  position: fixed;
  min-width: 100vw;
  height: 10vh;
  /* background: lightgreen; */
  display: flex;
  align-items: center;
}

#banner h1 {
  padding-left: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#footer {
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  margin-top: auto;
  /* bottom: 0; */
}

#footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#body {
  min-height: 100vh;
  display: flex;
}

/* Home */
#landingGrid {
  width: 100vw;
  height: 60vh;
  padding-top: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: center;
}

.landingGridItem {
  margin: 2vw;
  height: 20vh;
}

.landingGridItem :hover {
  background: lightgreen;
}

.landingGridContent {
  min-width: 100%;
  min-height: 100%;
  border: #333 3px solid;
  border-radius: 25px;

  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}




/* End Home */