 html,
 body {
   padding: 0;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
     Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   max-width: 100%;
   overflow-x: hidden;
   scroll-behavior: smooth;

 }

 a {
   color: inherit;
   text-decoration: none;
 }

 * {
   box-sizing: border-box;
 }

 /* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
} */


 h1 {
   font-family: dream-big-wide, sans-serif;
   font-weight: 700;
   font-style: normal;
   font-size: 3rem;
   color: rgb(86, 129, 39)
 }

 h2 {
   font-family: ofelia-text, sans-serif;
   font-weight: 400;
   font-style: normal;
 }

 h3 {
   font-family: ofelia-text, sans-serif;
   font-weight: 400;
   font-style: italic;
 }

 #body {
   padding-top: 7rem;
   min-height: 100vh;
   margin-bottom: auto;
   padding-left: 2vw;
   padding-right: 2vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #f1f9f2;
   background-size: 100% 100%;
   max-width: 100vw;
   min-width: 100vw;
 }

 #footer {
   /* padding: 2rem; */
   border-top: 1px solid #eaeaea;
   min-width: 100vw;
   height: 10vh;
   display: flex;
   justify-content: center;
   align-items: center;
   /* margin-top: auto; */
   position: relative;
   bottom: 0;
   text-align: center;
   background-color: #a5d6a7;

 }

 #footer a {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
   height: 100%;
 }



 /* Home */
 #landingGrid {
   width: 80vw;
   max-width: 50rem;
   padding-top: 5vw;
   justify-content: center;
   align-items: center;
   justify-items: center;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 7rem;
   row-gap: 5rem;
 }


 .homeBody {
   padding-top: 5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 @media screen and (max-width: 768px) {
   #landingGrid {
     grid-template-columns: repeat(2, 1fr);
   }

   .homeBody {
     padding-top: 9rem;
   }
 }

 .landingGridItem :hover {
   /* box-shadow: 0px 0px 30px 0px rgb(229, 124, 27); */
 }

 .landingGridItem {
   grid-column: span 2;
   height: 20rem;
   aspect-ratio: 1/1;
   justify-content: center;
   border: rgb(86, 129, 39) solid 3px;
   border-radius: 25px;
   z-index: 1;
   /* overflow: auto; */
 }

 .cardDecor {
   position: relative;
   z-index: 0;
 }

 #decorTopLeft {
   top: -5rem;
   left: -3rem;
 }

 #decorTopRight {
   top: -5rem;
   right: -3rem;
   -webkit-transform: scaleX(-1);
 }

 #decorRightBottom {
   bottom: 0;
   right: -3rem;
   -webkit-transform: scaleY(-1);
 }

 #decorRightTop {
   top: -30px;
   right: -230px;
 }

 /* #decorBottomLeft {
   bottom: -100%;
   left: -50%;
 }

 #decorBottomRight {
   bottom: -100%;
   right: -50%;
 }

 #decorLeftBottom {
   bottom: -90%;
   left: -60%;
 }

 #decorLeftTop {
   top: -150%;
   left: -60%;
 } */


 /* 
 #bioCard {
   max-width: 25%;
 } */

 #bioCard :hover {
   /* box-shadow: 0px 0px 15px 0px rgb(229, 124, 27) !important; */
 }



 .navBar {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   z-index: 20;
   overflow: hidden;
   max-width: 60vw;
 }

 .navLink {
   /* color: black; */
   font-size: 1.1rem;
   /* max-width: 15%; */
   text-align: center;
   margin-right: 5%;
   /* text-decoration: underline; */
   font-family: ofelia-text, sans-serif;
   font-weight: 400;
   font-style: normal;
   line-height: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
 }

 .navLink :hover {
   cursor: pointer;
   color: rgb(229, 124, 27)
 }

 .mobileNavWrap {
   position: fixed;
   top: 0;
   right: 90vw;
   width: 100vw;
   height: 100vh;
   background-color: white;

   opacity: 0.8;
   z-index: 10;
 }

 .mobileNavWrap:target {
   right: 80vw;
 }

 /* When the mobileNavWrap is targeted, set open-nav class to display none */




 .mobileNavWrap:target+.open-nav {
   display: none;
 }

 .mobileNavWrap:target+.close-nav {
   display: block;
 }


 .mobileNav #mobileLinks {
   display: none;
 }





 .mobileNav a {
   color: white;
   padding: 1rem;
   text-decoration: none;
   font-size: 1.5rem;
   display: block;
 }

 .mobileNav a:hover {
   background-color: #ddd;
   color: black;
 }

 .mobileNav a.icon {
   background: black;
   display: block;
   position: absolute;
   right: 0;
   top: 0;
 }


 #langSelect {
   width: 25%;
   max-width: 200px;
 }



 .bioSection {
   display: flex;
   /* grid-template-columns: repeat(1, 4fr); */
   /* grid-auto-flow: column; */
   width: 100vw;
   max-width: 60rem;
   justify-content: center;
   align-items: flex-start;
   padding: 0 2rem 0 2rem;
 }

 .bioCol {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-width: 10rem;
   margin: 0.5rem;
 }


 /* Bit of a hacky workaround for centering final grid item... */
 @media screen and (min-width: 701px) {
   .landingGridItem:last-child:nth-child(odd) {
     grid-column-end: 4;
   }
 }

 /* A fix for overflowing items on narrow landscape windows, need to adjust layout as well tho */
 /* @media screen and (max-height: 300px) {
   #banner {
     display: none !important;
   }
 } */

 #banner,
 .banner {
   background-color: rgba(195, 224, 197, 100);
 }

 .caousel {
   display: block;
 }

 @media screen and (max-width: 768px) {
   .carousel {
     display: none !important;
   }

   .bioSection {
     flex-direction: column;
     align-items: center;
   }

   .bioCol {
     width: 90% !important;
     min-width: 50vw;
     max-width: 60vw;

   }

   .bioHeader {
     text-align: center;
     padding-top: 2rem;
   }

   /* Collapse the navbar into 3 lines on small screens, expand when clicked */
   .navBar {
     display: none;
   }

   #langSelect {
     /* margin-left: 50%; */
     width: 50%;
   }

   #landingGrid {
     /* grid-template-columns: repeat(2, 1fr); */
     /* padding-bottom: 100%; */
     /* margin-bottom: 5%; */
   }

   #bioCard {
     max-width: 80%;
     align-self: center;
   }



   #foodSection {
     flex-direction: column !important;
     align-items: center;
   }

   .foodColumn {
     max-width: 90vw !important;
   }
 }

 #foodCard :hover {
   box-shadow: 0px 0px 15px 0px rgb(229, 124, 27) !important;
 }


 .fashionTiles {
   display: flex;
   flex-direction: row;
 }

 .fashionCols {
   width: 30%;
 }

 @media screen and (max-width: 700px) {
   .fashionTiles {
     flex-direction: column;

   }

   .fashionCols {
     width: 90%;
   }

   .fashionCols img {
     width: 100%;
   }
 }


 .landingGridContent {
   width: 100%;
   height: 100%;
   /* border: 3px solid; */
   border-radius: 25px;
   margin: auto;
   padding: 1rem;
   justify-content: center;
   align-items: center;
   text-align: center;
 }

 .landingGridContentStory :hover {
   fill: gray;
   /* box-shadow: 0px 0px 10px 0px rgb(229, 124, 27); */
 }

 .landingGridContent :hover {
   box-shadow: none;
 }

 .mobileNavOpen {
   display: block;
 }

 .mobileNavClose {
   display: none;
 }

 .mobileNavigator {
   width: 100vw;
   background-color: red;
   position: fixed;
   left: 0;
   top: 20rem;
   transition: 0.5s;
   display: flex;
   flex-direction: column;
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

 .mobileNavigator:target {
   top: 50rem;
 }


 .menu {
   display: none;
   flex-direction: row;
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

 .menu>li {
   margin: 0 1rem;
   overflow: hidden;
 }

 .menu-button-container {
   display: none;
   height: 100%;
   width: 5rem;
   cursor: pointer;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: absolute;
   /* right: 50%; */
   left: 43.5%;
 }

 #menu-toggle {
   display: none;
 }

 .menu-button,
 .menu-button::before,
 .menu-button::after {
   display: block;
   background-color: #fff;
   position: absolute;
   height: 4px;
   width: 30px;
   transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
   border-radius: 2px;
 }

 .menu-button::before {
   content: '';
   margin-top: -8px;
 }

 .menu-button::after {
   content: '';
   margin-top: 8px;
 }

 #menu-toggle:checked+.menu-button-container .menu-button::before {
   margin-top: 0px;
   transform: rotate(405deg);
 }

 #menu-toggle:checked+.menu-button-container .menu-button {
   background: rgba(255, 255, 255, 0);
 }

 #menu-toggle:checked+.menu-button-container .menu-button::after {
   margin-top: 0px;
   transform: rotate(-405deg);
 }

 @media (max-width: 768px) {
   .menu-button-container {
     display: flex;
   }

   .menu {
     display: flex;
     position: absolute;
     top: 0;
     margin-top: 7rem;
     left: 0;
     flex-direction: column;
     width: 100%;
     justify-content: center;
     align-items: center;
   }

   #menu-toggle~.menu li {
     height: 0;
     margin: 0;
     padding: 0;
     border: 0;
     transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
   }

   #menu-toggle:checked~.menu li {
     border: 1px solid #333;
     height: 2.5em;
     padding: 0.5em;
     transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
   }

   .menu>li {
     display: flex;
     justify-content: center;
     margin: 0;
     padding: 0.5em 0;
     width: 100%;
     color: white;
     background-color: #222;
   }

   .menu>li:not(:last-child) {
     border-bottom: 1px solid #444;
   }
 }

 /* End Home */


 /* Culture */
 #cultureGrid {
   width: 100vw;
   padding-top: 10vh;
   padding-left: 5vw;
   padding-right: 5vw;
   margin: 0 !important;
   justify-content: center;
   align-items: center;
   overflow-x: hidden;
   overflow-y: hidden;
 }

 .seasonGrid {
   display: grid;
   /* grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr); */
   /* grid-auto-rows: repeat(2, 1fr); */
   grid-template-columns: repeat(4, 4fr);
   grid-gap: 1rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: 1rem;
   margin-right: 1rem;
   width: 100%;
   padding: 2rem;
   overflow-x: hidden;
   /* aspect-ratio: 2/1; */
 }

 /* A grid  */

 #holidays {
   overflow-x: hidden;
   overflow-y: hidden;
 }


 .holidayTextL {
   text-align: right;
   padding-right: 0.5rem;
 }

 .holidayTextR {
   text-align: left;
   padding-left: 0.5rem;
 }


 /* On mobile displays, switch to one column */
 @media screen and (max-width: 700px) {
   .seasonGrid {
     grid-template-columns: repeat(1, 1fr);
     grid-template-rows: repeat(4, 1fr);
   }

   .holidayTextL,
   .holidayTextR {
     text-align: center;
     padding: 0.75rem;
   }
 }


 .foodColumn {
   width: 45vw;
 }

 #chefCard {
   width: 35vw
 }

 .chefCard {
   height: 100%;
   /* border: 3px solid; */
   border-radius: 25px;
   margin: auto;
   padding: 1rem;
   justify-content: center;
   align-items: center;
   text-align: center;
 }

 #millerCard {
   flex-direction: row;
 }

 @media screen and (max-width: 700px) {
   .foodColumn {
     width: 90vw;
   }

   #chefCard {
     width: 80vw;
   }

   #millerCard {
     flex-direction: column;
   }

 }

 /* Myths */

 .card {
   display: grid;
   grid-template-columns: 2fr 1fr;
   gap: 0px 10%;
   text-align: left;
 }

 .mythCols {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
 }

 .mythCollapsed {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 50vw;
 }

 /* on mobile displays, set the template to a single column */
 @media screen and (max-width: 700px) {
   .card {
     grid-template-columns: 1fr;
   }

   .mythCollapsed {
     width: 90vw;
   }
 }

 .cardContent {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: flex-start;
   font-size: 0.8rem;
   max-width: 100%;

 }

 .cardContent2 {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: flex-start;
   font-size: 0.8rem;
   max-width: 100%;
 }

 .linkTxt {
   align-self: flex-start;
   padding-top: 1%;
   padding-left: 15%;
   max-width: 90%;
   text-decoration: none;
   color: black;
   font-size: 0.7rem;
 }

 .mythCard {
   width: 90%;
   border-radius: 25px;
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
   border: 3px solid rgb(86, 129, 39);
   margin: 1%;
   padding: 2%;
   text-align: center;
   overflow: hidden;
   max-height: 6rem;
   transition: max-height 1.5s ease-in;
   margin-bottom: 2rem;
   /* min-height: 100px; */
 }

 .mythCard:hover {
   max-height: 350vh;
   transition: max-height 1.5s ease-in;
   box-shadow: 0px 0px 15px 0px rgb(229, 124, 27) !important;
 }





 .collapsed {
   width: 90vw;
   /* height: 17vh; */
   cursor: pointer;
   border-radius: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 5% 0 5%;
   margin: 5%;
   transition: max-height 1.5s ease-in;
   text-align: center;
 }

 .collapsed-desc {
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
 }

 .collapsed-desc h1 {
   margin: 0 !important;
   padding-top: 1.5rem;
 }

 .collapsed-content {
   overflow: auto;
   transition: all 1.5s ease;
   /* max-height: 0vh; */
   /* margin: 5%; */
   display: none;
   align-items: center;
   justify-items: flex-start;
   scroll-margin-top: 10vh;
 }

 .curiosityMapWrap {
   transition: all 1.5s ease;
   /* max-height: 0vh; */
   /* margin: 5%; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: center;
   scroll-margin-top: 10vh;
   position: relative;
   right: 100vw;
   padding-left: 0;
   max-width: 70rem;
 }

 .curiosityMapWrap:target {
   overflow: auto;
   transition: all 1.5s ease;
   /* max-height: 0vh; */
   /* margin: 5%; */
   align-items: center;
   justify-items: flex-start;
   scroll-margin-top: 10vh;
   right: 0vw;
 }

 .collapsed-form {
   max-height: 0vh;
   display: none;
 }


 .collapsed-content:target {
   max-height: none;
   display: block;
 }

 .collapsed-form:target {
   max-height: 30rem;
   display: block;
 }



 .mapPoint :hover {
   background-color: #e8f5e9;
   width: 20vw;
   height: 20vh;
   box-shadow: 0px 0px 10px 0px rgb(229, 124, 27);
 }

 input,
 textarea {
   border: 1px solid #eaeaea;
   border-radius: 25px;
   padding: 0.5rem;
   margin: 0.5rem 0;
   box-sizing: border-box;
   width: 100%;
 }

 #formWrap {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 80vw;
 }

 .fieldWrap {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 80vw;
 }

 .collabTag {
   border-radius: 25px;
   align-items: 'left';
   display: flex;
   flex-direction: column;
   max-height: 3rem;
   /* transition: max-height 1.75s ease-in; */
   transition: max-height 2s cubic-bezier(0, 1, 0, 1);
   /* min-height: 100px; */
   overflow: hidden;
   padding: 2% 4% 4% 4%;
 }

 .collabTag:hover {
   max-height: 350vh;
   transition: max-height 2s ease-in-out;
   box-shadow: 0px 0px 15px 0px rgb(229, 124, 27) !important;
 }

 .discussionCard {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   text-align: left;
   border-radius: 25px;
   max-width: 80%;
   padding: 1rem;
 }

 .discussionCard h2,
 .discussionCard h3 {
   margin: 0;
 }

 .homeLogoLong {
   display: block;
 }

 .homeLogoTall {
   display: none;
 }

 .cultureDecor {
   display: block;
 }



 @media screen and (max-width: 700px) {
   .homeLogoLong {
     display: none;
   }

   .homeLogoTall {
     display: block;
   }

   .mythCard {
     max-height: 8rem;
     transition: max-height 1.25s ease-in;
     /* min-height: 100px; */
   }

   .mythCard:hover {
     max-height: 1000vh;
     transition: max-height 1.25s ease-in;
     box-shadow: 0px 0px 15px 0px rgb(229, 124, 27) !important;
   }

   .mythCols {
     flex-direction: column !important;
   }

   .mythCollapsed {
     /* width: 70% !important; */

   }

   .collabTag {
     max-height: 6rem;
     padding: 4%;
   }
 }

 .innerFormWrap {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .fileAttachmentBtn {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-left: 2rem;
   border-radius: 25px;
   border: 2px solid rgb(86, 129, 39);
   padding: 1rem;
   cursor: pointer;
 }

 @media screen and (max-width: 1000px) {
   .cultureDecor {
     display: none;
   }

   .curiosityMapWrap {
     /* padding-left: 0; */
   }

   /* .innerFormWrap {
     flex-direction: column;
   } */

   .fileAttachmentBtn {
     margin-left: 0;
   }

 }


 .resource-button:hover {
   box-shadow: 0px 0px 15px 0px rgb(229, 124, 27) !important;
 }

 .localresource-link {
   text-decoration: none;
   color: black;
   font-size: 1rem;
 }

 .localresource-link:hover {
   color: rgb(229, 124, 27);
 }