html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
} */





#banner {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 10vh;
  /* background: lightgreen; */
  display: flex;
  align-items: center;
}

#banner h1 {
  padding-left: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

#footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


/* Home */
#landingGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  width: 100vw;
  height: 60vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

#landingGrid a {
  background: #f0f0f0;
  color: #333;
  border: gray 3px solid;
  border-radius: 5px;
  width: 35vw;
  height: 15vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

#landingGrid a div {
  text-align: center;
  margin: 5%;
}

#landingGrid a:hover {
  background: lightgreen;
}

/* End Home */